.card{
    width: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
box-shadow:  5px 5px 0px #662e00,
             -5px -5px 0px #ffb800;
    margin-bottom: 20px;
}

.card .cardImg{
    width: 100%;
    height: 500px;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 8px;
}

