*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ff7300;
}
/* menu */
.navBar{
    background-color: #5a3ae9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

}
.navBar .listaPrincipal{
    width: 95%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

.navBar .listaPrincipal .itemLista a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
}

.navBar .listaPrincipal .itemLista{
    padding: 10px;
    transition: 0.5s;
    display: flex;
    align-items: center;

}

.navBar .listaPrincipal .itemLista:hover{
    background: #5a3ae9;
    box-shadow:  -5px 5px 10px #492fbd,
                5px -5px 10px #6b45ff;
    border-radius: 8px;

}

h3{
    color: white;
}

/* imagen de carrito */
.imgCarrito{
    width: 2rem;
}

.pathCarrito{
    fill: white;
}

.pathCarrito:hover{
    fill: #eea70d;
}

